<% layout(layout_directory+'/mainLayout') -%>
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"><%= page_title %></h3>
    </div>
</div>
<!-- end:: Content Head -->

<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

     
    <!-- start user section -->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    User Summary
                </h3>
            </div>

        </div>
        <div class="kt-portlet__body  kt-portlet__body--fit">
            <div class="row row-no-padding row-col-separator-xl">
                <div class="col-md-12 col-lg-6 col-xl-4">

                    <!--begin::Total doctors-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    <%= response.totUserCount %>
                                </h4>
                                <span class="kt-widget24__desc">
                                    Total Users
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-brand"><i class="fa-solid fa-user-group"></i></span>
                        </div>                        
                    </div>

                    <!--end::Total Profit-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">

                    <!--begin::New Feedbacks-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    <%= response.totActiveUserCount %>
                                </h4>
                                <span class="kt-widget24__desc">
                                    Active Users
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-success"><i class="fa-solid fa-user-group"></i></span>
                        </div>
                        
                    </div>

                    <!--end::New Feedbacks-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">

                    <!--begin::New Orders-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    <%= response.totInactiveUserCount %>
                                </h4>
                                <span class="kt-widget24__desc">
                                    Inactive Users
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-danger"><i class="fa-solid fa-user-group"></i></span>
                        </div>

                    </div>

                    <!--end::New Orders-->
                </div>
            </div>
            
        </div>
    </div>
    <!-- end user section -->   
    
    <!-- start service section -->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Service Summary
                </h3>
            </div>

        </div>
        <div class="kt-portlet__body  kt-portlet__body--fit">
            <div class="row row-no-padding row-col-separator-xl">
                <div class="col-md-12 col-lg-6 col-xl-4">

                    <!--begin::Total doctors-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    <%= response.totServiceCount %>
                                </h4>
                                <span class="kt-widget24__desc">
                                    Total Services
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-brand"><i class="fa-solid fa-cubes"></i></span>
                        </div>                        
                    </div>

                    <!--end::Total Profit-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">

                    <!--begin::New Feedbacks-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    <%= response.totActiveServiceCount %>
                                </h4>
                                <span class="kt-widget24__desc">
                                    Active Services
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-success"><i class="fa-solid fa-cubes"></i></span>
                        </div>
                        
                    </div>

                    <!--end::New Feedbacks-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">

                    <!--begin::New Orders-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    <%= response.totInactiveServiceCount %>
                                </h4>
                                <span class="kt-widget24__desc">
                                    Inactive Services
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-danger"><i class="fa-solid fa-cubes"></i></span>
                        </div>

                    </div>

                    <!--end::New Orders-->
                </div>
            </div>
            
        </div>
    </div>
    <!-- end service section -->  
</div>
<!-- end:: Content -->
<script src="../assets/vendors/general/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
<script src="../assets/app/custom/general/dashboard.js" type="text/javascript"></script>
<script>
    // var fileref = document.createElement('script')
    // fileref.setAttribute("type", "text/javascript")
    // fileref.setAttribute("src", "/assets/app/custom/general/dashboard.js");
    // document.getElementsByTagName("body")[0].appendChild(fileref);
</script>